body{
    background: url("/static/img/Ajustes.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
select{
    border-radius: 20px;
    font: 250% Arial;
}
input{
    border-radius: 20px;
    font: 250% Arial;
}
p{
    color: cyan;
    font-size: 250%;
    
}
#btnOrdenarTitular{
    background: -webkit-gradient(linear,left top,left bottom,from(#4aa6d6),to(#207daa));
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#btnBuscarpost{
    background: -webkit-gradient(linear,left top,left bottom,from(#4aa6d6),to(#207daa));
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#btnBuscarFecha{
    background: -webkit-gradient(linear,left top,left bottom,from(#4aa6d6),to(#207daa));
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#btnBuscarTematica{
    background: -webkit-gradient(linear,left top,left bottom,from(#4aa6d6),to(#207daa));
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#filtros{
    margin-left: 10%;
    display: none;
}
#todosPosts{
    margin-left: 10%;
}
#Filtro{
    width: 75px;
    height: 75px;
}
#Casa{
    width: 75px;
    height: 75px;
}
#btnFiltro{
    background-color: transparent;
    border-radius: 10px;
}
#btnCasa{
    background-color: transparent;
    border-radius: 10px;
}