body {
    background: url("/static/img/Fondo_user.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Cerrar{
    width: 75px;
    height: 75px;
}
#Compass{
    width: 75px;
    height: 75px;
}
#buscar{
    border-radius: 20px;
    font: 200% Arial;
    margin-top: 5%;
    
}
button{
    background: -webkit-gradient(linear,left top,left bottom,from(#4aa6d6),to(#207daa));
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#regionBuscar{
    float: right;
}
#regionExplorar{
    float: right;
}
#regionCerrarSesion{
    float: right;
}
#img{
    width: 50px;
    height: 50px;
}
#titular{
    width: 75%;
    font-size: 50px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 5%;
}
#cuerpo{
    width: 75%;
    font-size: 25px;
    height: 500px;
    border-radius: 10px;
    margin-left: 10%;
}
#topicCombobox{
    width: 60%;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 5%;
}
#redactar{
    background-color: royalblue;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: none;
}