body{
    background: url("/static/img/Fondo_usuario.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Casa{
    width: 75px;
    height: 75px;
}
#btnCasa{
    background-color: transparent;
    border-radius: 10px;
}
#infouser{
    margin-left: 25%;
}
#publicaciones{
    margin-left: 10%;
}
#separador{
    width: 50%;
}
